# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/